* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none; color: inherit;
}
/*body {overflow: hidden}*/
.fullscreen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.fullscreen__body {
    padding: 50px 15px;
    background-color: rgba(100, 20, 20, 0.35);
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.fullscreen__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fullscreen__body__title {
    font-size: 50px;
    letter-spacing: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
}
.fullscreen__body__text {
    font-size: 18px;
    letter-spacing: 15px;
    margin: 0 0 20px 0;
}
.fullscreen_body__icons {
    display: flex;
    font-size: 24px;
}
.fullscreen__body__wrapper {

    background-color: rgba(100, 20, 20, 0.05);
    padding: 20px;
}
.fullscreen_body__icons a {
    transition: 0.6s ease-in-out;
    margin-right: 10px;
}
.fullscreen_body__icons a:hover {
    cursor: pointer;
    transform: scale(1.5);
}
.fullscreen_body__icons a:last-child:hover {
    transform: scale(1);
}
@media only screen and (max-width: 600px) {
    *, .fullscreen__body__title, .fullscreen__body__text {font-size: calc(0.7rem + 1vw);}
    .fullscreen__body__title, .fullscreen__body__text {
        letter-spacing: 20px;
    }
}